
.DS_Store

*.xcuserstate

*.xcuserstate

bpblaunch.xcodeproj/project.xcworkspace/xcuserdata/hxcade.xcuserdatad/UserInterfaceState.xcuserstate

bpblaunch/.DS_Store

bpblaunch.xcodeproj/xcuserdata/hxcade.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
